.home-desktop {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.container,
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  align-self: stretch;
  height: 72px;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-0) var(--padding-80);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.container {
  width: 100%;
  gap: var(--gap-32);
  max-width: 100%;
}
.company-logo,
.content {
  display: flex;
  align-items: flex-start;
}
.content {
  flex: 1;
}
.company-logo {
  height: 36px;
  width: 84px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0.2px 4.5px;
  box-sizing: border-box;
}
.logo-icon {
  height: 35.6px;
  width: 74px;
  position: relative;
}
.column,
.link {
  display: flex;
  align-items: center;
}
.column {
  margin: 0;
  gap: var(--gap-32);
  text-align: left;
  font-size: var(--Text-Sizes-Text-Regular);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.link {
  justify-content: center;
}
.link-text {
  position: relative;
  line-height: 150%;
}
.actions,
.button {
  display: flex;
  align-items: center;
}
.actions {
  flex: 1;
  justify-content: flex-end;
}
.button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: var(--padding-8) var(--padding-20);
  background-color: transparent;
  border-radius: var(--br-100);
  background:
    linear-gradient(101.67deg, var(--Color-Barberry), var(--Color-Harlequin))
      padding-box,
    linear-gradient(101.67deg, var(--Color-Barberry), var(--Color-Harlequin))
      border-box;
  justify-content: center;
}
.button2 {
  position: relative;
  font-size: var(--Text-Sizes-Text-Regular);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--Color-Neutral-Darkest);
  text-align: left;
}
.header {
  align-self: stretch;
  height: 669px;
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
}
.header-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -0.1px;
  object-fit: cover;
  z-index: 0;
}
.container2,
.content2 {
  display: flex;
  align-items: flex-start;
}
.content2 {
  width: 827px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-80);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: var(--Text-Sizes-Heading-1);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-hanuman);
}
.container2 {
  flex: 1;
  flex-direction: column;
  max-width: var(--Container-container-large);
}
.component {
  gap: var(--gap-24);
}
.column2,
.component {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.medium-length-hero {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.column3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-32);
  font-size: var(--Text-Sizes-Text-Medium);
  font-family: var(--font-roboto);
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
}
.button3 {
  border-radius: var(--br-100);
  background: var(--gradient-1);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10) var(--padding-24);
}
.container3,
.layout {
  display: flex;
  flex-direction: column;
}
.layout {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--Section-Padding-padding-section-large)
    var(--Page-Padding-padding-global);
}
.container3 {
  width: 100%;
  align-items: flex-start;
  max-width: var(--Container-container-large);
}
.component2 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-80);
}
.content3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-0);
  box-sizing: border-box;
  min-width: 390px;
  text-align: left;
  font-size: var(--Text-Sizes-Heading-2);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-hanuman);
}
.section-title-child {
  width: 96px;
  height: 85px;
  position: relative;
}
.heading,
.text {
  align-self: stretch;
  position: relative;
}
.heading {
  letter-spacing: -0.01em;
  line-height: 120%;
}
.text {
  font-size: var(--Text-Sizes-Text-Medium);
  line-height: 150%;
  font-family: var(--font-roboto);
}
.elevated-view-female-florist-a-icon {
  height: 428px;
  flex: 1;
  position: relative;
  border-radius: var(--Radius-Large);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 390px;
}
.container4,
.product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.product {
  width: 1440px;
  background-color: var(--color-white);
  align-items: center;
  padding: var(--Section-Padding-padding-section-large)
    var(--Page-Padding-padding-global);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--Text-Sizes-Heading-2);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-hanuman);
}
.container4 {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-32);
  max-width: var(--Container-container-large);
}
.title {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
}
.content5,
.section-title2 {
  display: flex;
  flex-direction: column;
}
.section-title2 {
  flex: 1;
  align-items: flex-start;
  max-width: var(--Max-Width-max-width-large);
}
.content5 {
  align-self: stretch;
  align-items: center;
}
.heading2 {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: var(--Max-Width-max-width-large);
}
.content6 {
  align-self: stretch;
  flex-direction: column;
  gap: 48px;
}
.content6,
.content7,
.product2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content7 {
  align-self: stretch;
  gap: var(--gap-32);
}
.product2 {
  width: var(--width-405);
  flex-direction: column;
  gap: var(--gap-16);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--Text-Sizes-Text-Medium);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.perfect-gift-wonderful-flowers-icon {
  align-self: stretch;
  height: 320px;
  position: relative;
  border-radius: var(--Radius-Medium);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.content8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.heading3,
.price,
.text2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.heading3 {
  font-weight: 600;
}
.price,
.text2 {
  font-size: var(--Text-Sizes-Text-Small);
}
.price {
  margin: 0;
  font-size: var(--Text-Sizes-Text-Large);
  font-weight: 600;
  font-family: inherit;
}
.content12 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
}
.slider-dots {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
}
.dot,
.dot2 {
  height: var(--height-8);
  width: var(--width-8);
  position: relative;
  border-radius: var(--br-50);
  background-color: var(--Color-Neutral-Darkest);
}
.dot2 {
  opacity: var(--opacity-0_2);
}
.slider-buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-16);
}
.slider-arrow {
  cursor: pointer;
  border: var(--border-1);
  padding: var(--padding-12);
  background-color: var(--color-white);
  border-radius: var(--br-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-left-arrow-alt {
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.product6 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--Section-Padding-padding-section-large)
    var(--Page-Padding-padding-global);
  gap: var(--gap-40);
  text-align: center;
  font-size: var(--Text-Sizes-Heading-2);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-hanuman);
}
.container5 {
  gap: var(--gap-32);
  max-width: var(--Container-container-large);
}
.container5,
.content13,
.title2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 {
  max-width: var(--Max-Width-max-width-large);
}
.content13 {
  gap: var(--gap-8);
  max-width: 100%;
}
.heading7 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.content14 {
  align-self: stretch;
  flex-direction: column;
  gap: 64px;
}
.content14,
.product7,
.row {
  display: flex;
  align-items: flex-start;
}
.row {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-32);
}
.product7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16);
  min-width: 272px;
  max-width: 296px;
  text-align: center;
  font-size: var(--Text-Sizes-Text-Medium);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.side-view-rose-bouquet-with-wi-icon {
  align-self: stretch;
  height: var(--height-296);
  position: relative;
  border-radius: var(--Radius-Medium);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.product11,
.row2 {
  align-items: flex-start;
}
.row2 {
  align-self: stretch;
  display: grid;
  gap: var(--gap-32);
  grid-template-columns: repeat(4, minmax(222px, 1fr));
}
.product11 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  text-align: center;
  font-size: var(--Text-Sizes-Text-Medium);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.button5 {
  cursor: pointer;
  border: 1px solid transparent;
  padding: var(--padding-10) var(--padding-24);
  background-color: transparent;
  width: 408px;
  border-radius: var(--br-100);
  background: var(--gradient-1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container6,
.testimonial {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial {
  width: 1440px;
  background-color: var(--color-white);
  padding: var(--Section-Padding-padding-section-large)
    var(--Page-Padding-padding-global);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--Text-Sizes-Heading-2);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-hanuman);
}
.container6 {
  width: 100%;
  gap: var(--gap-32);
  max-width: var(--Container-container-large);
}
.content23,
.content24 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content23 {
  align-self: stretch;
  gap: var(--gap-32);
  text-align: left;
  font-size: var(--Text-Sizes-Text-Medium);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.content24 {
  height: var(--height-228);
  width: var(--width-405);
  border-radius: var(--Radius-Medium);
  background-color: var(--color-white);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-32) 31px;
  gap: var(--gap-20);
}
.quote {
  width: var(--width-352);
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.avatar {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: var(--Text-Sizes-Text-Regular);
}
.avatar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content26 {
  height: var(--height-228);
  width: var(--width-405);
  border-radius: var(--Radius-Medium);
  background-color: var(--color-white);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-32);
  gap: var(--gap-20);
  max-width: 100%;
}
.content26,
.content27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.quote2 {
  width: var(--width-352);
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.avatar2 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--Text-Sizes-Text-Regular);
}
.content30 {
  height: var(--height-228);
  width: var(--width-405);
  border-radius: var(--Radius-Medium);
  background-color: var(--color-white);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-30) var(--padding-32);
  gap: var(--gap-20);
  max-width: 100%;
}
.content30,
.content31,
.stars {
  display: flex;
  align-items: flex-start;
}
.content31 {
  flex-direction: column;
  gap: var(--gap-24);
  flex-shrink: 0;
}
.stars {
  overflow: hidden;
  gap: var(--gap-4);
}
.vector-icon {
  height: var(--height-18_9);
  width: var(--width-20);
  position: relative;
}
.contact,
.content36 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.content36 {
  justify-content: flex-end;
}
.contact {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--Section-Padding-padding-section-large)
    var(--Page-Padding-padding-global);
  box-sizing: border-box;
  max-width: 100%;
}
.container7 {
  width: 100%;
  flex-direction: column;
  gap: var(--gap-32);
  max-width: var(--Container-container-large);
}
.container7,
.content37,
.section-title4 {
  display: flex;
  align-items: flex-start;
}
.content37 {
  align-self: stretch;
  gap: var(--gap-80);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.section-title4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16);
  min-width: 455px;
}
.tagline-wrapper {
  display: flex;
  align-items: center;
}
.tagline {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.content38,
.row3 {
  flex-direction: column;
  gap: var(--gap-24);
  font-family: var(--font-hanuman);
}
.content38 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  font-size: var(--Text-Sizes-Heading-2);
}
.row3 {
  width: 500px;
  padding: var(--padding-8) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--fs-18);
}
.contact-info,
.content39,
.row3 {
  display: flex;
  align-items: flex-start;
}
.content39 {
  align-self: stretch;
  gap: var(--gap-16);
}
.contact-info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
  min-width: 299px;
}
.heading18 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 140%;
}
.link6 {
  text-decoration: underline;
}
.link6,
.text21 {
  align-self: stretch;
  position: relative;
  font-size: var(--Text-Sizes-Text-Regular);
  line-height: 150%;
  font-family: var(--font-roboto);
}
.photo-florist-holding-beautifu-icon {
  width: 1280px;
  position: relative;
  border-radius: var(--Radius-Large);
  max-height: 100%;
  object-fit: cover;
}
.container8,
.footer {
  display: flex;
  flex-direction: column;
}
.footer {
  align-self: stretch;
  background-color: var(--color-khaki);
  overflow: hidden;
  align-items: center;
  padding: var(--Section-Padding-padding-section-medium)
    var(--Page-Padding-padding-global);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--Text-Sizes-Text-Regular);
  color: var(--Color-Neutral-Darkest);
  font-family: var(--font-roboto);
}
.container8 {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-80);
  max-width: var(--Container-container-large);
}
.content41 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-32);
  max-width: 100%;
}
.company-logo2,
.logo {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.logo {
  flex: 1;
  flex-direction: column;
  min-width: 240px;
}
.company-logo2 {
  width: 294px;
  height: 126px;
  flex-shrink: 0;
  padding: 0.7px 15.7px 0.6px;
  box-sizing: border-box;
}
.logo-icon2 {
  height: 124.7px;
  width: 259px;
  position: relative;
}
.links {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-32);
  max-width: 100%;
}
.credits,
.social-links {
  display: flex;
  align-items: center;
}
.social-links {
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-20) var(--padding-0);
  box-sizing: border-box;
  gap: 12px;
  min-width: 240px;
}
.credits {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-32);
  font-size: var(--Text-Sizes-Text-Small);
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
}
.row4 {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 1350px) {
  .column {
    display: none;
  }
  .container2 {
    max-width: 100%;
  }
  .layout {
    padding-left: var(--padding-32);
    padding-right: var(--padding-32);
    box-sizing: border-box;
  }
  .container3 {
    max-width: 100%;
  }
  .product {
    padding-left: var(--padding-32);
    padding-right: var(--padding-32);
    box-sizing: border-box;
  }
  .container4 {
    max-width: 100%;
  }
  .content7 {
    flex-wrap: wrap;
  }
  .product6 {
    padding: var(--padding-60) var(--padding-32);
    box-sizing: border-box;
  }
  .container5 {
    max-width: 100%;
  }
  .testimonial {
    padding-left: var(--padding-32);
    padding-right: var(--padding-32);
    box-sizing: border-box;
  }
  .container6 {
    max-width: 100%;
  }
  .content23 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact {
    padding-left: var(--padding-32);
    padding-right: var(--padding-32);
    box-sizing: border-box;
  }
  .container7 {
    max-width: 100%;
  }
  .footer {
    padding-left: var(--padding-32);
    padding-right: var(--padding-32);
    box-sizing: border-box;
  }
  .container8 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1125px) {
  .content2,
  .product {
    box-sizing: border-box;
  }
  .content2 {
    padding-left: var(--padding-40);
    padding-right: var(--padding-40);
  }
  .product {
    padding-top: var(--padding-60);
    padding-bottom: var(--padding-60);
  }
  .content7,
  .row2 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(304px, 526px));
  }
  .row2 {
    grid-template-columns: repeat(2, minmax(222px, 385px));
  }
  .contact {
    padding-top: var(--padding-60);
    padding-bottom: var(--padding-60);
    box-sizing: border-box;
  }
  .content37 {
    flex-wrap: wrap;
  }
  .row3 {
    flex: 1;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    padding-left: var(--padding-40);
    padding-right: var(--padding-40);
    box-sizing: border-box;
  }
  .column,
  .container {
    gap: var(--gap-16);
  }
  .medium-length-hero {
    font-size: 45px;
    line-height: 54px;
  }
  .column3 {
    gap: var(--gap-16);
  }
  .layout {
    padding-top: var(--padding-60);
    padding-bottom: var(--padding-60);
    box-sizing: border-box;
  }
  .component2,
  .container3,
  .layout {
    gap: var(--gap-40);
  }
  .content3 {
    gap: var(--gap-16);
    min-width: 100%;
  }
  .heading {
    font-size: var(--fs-38);
    line-height: var(--lh-46);
  }
  .elevated-view-female-florist-a-icon {
    min-width: 100%;
  }
  .product {
    gap: var(--gap-40);
  }
  .container4 {
    gap: var(--gap-16);
  }
  .heading2,
  .section-title2 {
    max-width: 100%;
  }
  .heading2 {
    font-size: var(--fs-38);
    line-height: var(--lh-46);
  }
  .content6 {
    gap: var(--gap-24);
  }
  .content7 {
    gap: var(--gap-16);
    grid-template-columns: minmax(304px, 1fr);
  }
  .product6 {
    gap: var(--gap-20);
    padding-top: var(--padding-39);
    padding-bottom: var(--padding-39);
    box-sizing: border-box;
  }
  .container5 {
    gap: var(--gap-16);
  }
  .title2 {
    max-width: 100%;
  }
  .heading7 {
    font-size: var(--fs-38);
    line-height: var(--lh-46);
  }
  .content14 {
    gap: var(--gap-32);
  }
  .row,
  .row2 {
    gap: var(--gap-16);
  }
  .row2 {
    grid-template-columns: minmax(222px, 1fr);
  }
  .testimonial {
    gap: var(--gap-40);
    padding-top: var(--padding-60);
    padding-bottom: var(--padding-60);
    box-sizing: border-box;
  }
  .container6,
  .content23 {
    gap: var(--gap-16);
  }
  .contact {
    gap: var(--gap-40);
    padding-top: var(--padding-39);
    padding-bottom: var(--padding-39);
    box-sizing: border-box;
  }
  .container7 {
    gap: var(--gap-16);
  }
  .content37 {
    gap: var(--gap-40);
  }
  .row3,
  .section-title4 {
    min-width: 100%;
  }
  .container8,
  .footer {
    gap: var(--gap-40);
  }
  .content41 {
    gap: var(--gap-16);
  }
  .links {
    flex-wrap: wrap;
  }
  .credits,
  .links {
    gap: var(--gap-16);
  }
}
@media screen and (max-width: 450px) {
  .content2 {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .medium-length-hero {
    font-size: 34px;
    line-height: 40px;
  }
  .component2,
  .container3,
  .layout {
    gap: var(--gap-20);
  }
  .heading {
    font-size: var(--fs-29);
    line-height: var(--lh-35);
  }
  .product {
    gap: var(--gap-20);
    padding-top: var(--padding-39);
    padding-bottom: var(--padding-39);
    box-sizing: border-box;
  }
  .heading2 {
    font-size: var(--fs-29);
    line-height: var(--lh-35);
  }
  .price {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }
  .content12 {
    flex-wrap: wrap;
  }
  .heading7 {
    font-size: var(--fs-29);
    line-height: var(--lh-35);
  }
  .content14 {
    gap: var(--gap-16);
  }
  .contact,
  .content37,
  .testimonial {
    gap: var(--gap-20);
  }
  .content39 {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .container8,
  .footer {
    gap: var(--gap-20);
  }
  .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}





